:root{
  display:flex;
  flex-direction:column;
  align-content:center;
  justify-content:center;
  height:100dvh;
  background:black;
  font-family:sans-serif;
  color:white;
}
.scrolling-text {
    width: 30vw; 
    white-space: nowrap; 
    overflow: hidden;
    box-sizing: border-box;
    font-size:clamp(16px,50dvh,220px);
    white-space:nowrap;
    margin: 0 auto;
  }
